<div class="header clearfix">
  <!-- <a href="#" id="LogoH">Logo</a> -->
  <!-- <a href="#">Contact</a> -->
  <!-- <a href="#">About</a> -->
  <!-- <a href="#">Home</a> -->
  <!-- <img id="LogoImg" src="assets/Img/Logo2.png" alt="Logo Header"> -->
  <img routerLink="/carousel3" id="LogoImg" src="assets/Img/blackHole.png" alt="Logo Header">
  <a routerLink="/carousel3" id="LogoH">
	<span id="LgTxt">Logos</span>
  </a>
  <a routerLink="/contact7">Contact</a>
  <a routerLink="/abtus6">About</a>
  <a routerLink="/carousel3">Home</a>
</div>
