
<div class="bgImg">
  <div class="bgDiv">
	<div id="div12">
	  <span>The Child in Me</span>
	  <br>
	  <p>
	  Some people never settle for the one<br>
	  One love forever searching for the sun<br>
	  Heat blasted faces, promises at dawn<br>
	  A constant flux of stages before they’re gone<br>
	  </p>
	</div>
	<a routerLink="/abtus6" id="abtButton">About</a>
  </div>

  <div class="bgImgDiv">
	<img src="assets/Img/clearviewBg2.png" alt="Background for div">
	<div id="overImg">
	  <span>Center Stage</span>
	  <br>
	  <p>
	    Like a thread from a seam<br>
	    Drawn away to reveal<br>
	    That we all make this dream<br>
	    And sometimes it feels so real<br>
	  </p>
	</div>
  </div>
</div>
