
<div class="hocards clearfix">
  <div class="card1">
	<div class="imgCard">
	  <img src="assets/Img/Kapu2.jpg" alt="card Image">
	</div>
	<div class="cardTex">
	  My worth is the look in your eyes.
	  My prize the smile playing tricks on your lips and I wonder again.
	  Do you ever dream of the world like I do
	</div>
  </div>

  <div class="card2">
	<div class="imgCard">
	  <img src="assets/Img/Marko.jpg" alt="card Image">
	</div>
	<div class="cardTex">
	  With me, disaster finds a playfield.
	  Love seems to draw dark, twisted pleasure tearing at me.
	  Cos I can’t let you go
	</div>
  </div>

  <div class="card3">
	<div class="imgCard">
	  <img src="assets/Img/Olli.jpg" alt="card Image">
	</div>
	<div class="cardTex">
	  Before I’ll go hear me out.
	  Cos of this there ain’t no doubt.
	  When it’s time for curtain call.
	  Just before the shadows…
	</div>
  </div>
<div>
