/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box !important;
}

body {
	margin: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
