
<app-header1></app-header1>

<div class="abtUs">
  <div class="abtUsCont">
	<div class="div24">
	  <!-- <span>The Ultimate Fling</span> -->
	  <span>False Kings</span>
	  <br>
	  <p>
	  <!--
	  Today, it’s in the air again today, another incident that just went off.
	  No way, this time I will not take blame, its pretty obvious who needs to shut up.
	  Ashtrays filled with the fruits of our transgressions, here and there sarcasm overflows.
	  Do stay, I’ll need this sitcom to be re-run till I get the gist of just how it goes
	  -->
	  When there's no love in my embrace.
	  Cold blood runs through my veins.
	  If I soar without grace.
	  Do I still soar.
	  I need the love in your embrace.
	  Open doors, brand new ways.
	  End my wars and erase.
	  And I'm yours
	  </p>
	</div>
	<div class="div23">
	  <span>Children of the Sun</span>
	  <br>
	  <ul>
		<li>Signs of Life</li>
		<li>Revolution Roulette</li>
		<li>Jealous Gods</li>
		<li>Carnival of Rust</li>
		<li>Ultraviolet</li>
	  </ul>
	</div>
  </div>

  <div class="abtUsImg">
	<img src="assets/Img/jamesBond.jpg" alt="White Bg Image">
	<!-- <img src="assets/Img/boringBiz2.jpg" alt="White Bg Image"> -->
  </div>
</div>

<app-table-http8></app-table-http8>
<app-footer2></app-footer2>
